.butt.copyths{
  
    background-color: #fd0d0d;
    color: #FFF;
    border-radius: 5PX;
    border: none;
    width: 145px;
    height: 30px;
}

.butt.copythat{

    background-color: #fd0d0d;
    color: #FFF;
    border-radius: 5PX;
    border: none;
    width: 145px;
    height: 30px;


}
.btn.btn-primary ,.btn.btn-success{
    min-width: 145px !important;
    height: 40px;
}
.sidebar{
    min-height: 100vh;
}
.as-react-table .pagination li a{
        background: #000 !important;
}
.as-react-table .asrt-table-foot{
    padding-top: 15px;
}
.as-react-table .asrt-page-length span{
    background:#2a3038 !important ;
    padding: 13px !important;
    border-radius: 0px !important;
}
.as-react-table .pagination li:hover a{
    background: #2a3038!important;
    color: #fff !important;
}
.form-control:focus{
    color: #fff;
    border: none;
}
.btn.btn-primary:hover{
    background: transparent;
    border: 1px solid #0090e7;
}.btn.btn-success:hover{
    background: transparent;
    border: 1px solid #00d467;
}
input[type="file"]:hover,
input[type="checkbox"]:hover{
    cursor: pointer;
}
.pagination .page-link input{
    background: #000 !important;
    color: #fff !important;
}
.auth form .auth-form-btn{
    padding: 10px !important;
}
.auth form .form-control:focus{
    border: 1px solid #434343;
}
.details_btn{
    background: #0090e7;
    border: 1px solid transparent;
    padding: 8px;
    color: #ffff;
}
.details_btn:hover{
    background: transparent;
    border: 1px solid #0090e7;

}
.delete_btn{
    background: red;
    border: 1px solid transparent;
    padding: 8px;
    color: #ffff;
}
.delete_btn:hover{
    background: transparent;
    border: 1px solid red;

}
.edit_btn{
    background: #0090e7;
    border: 1px solid transparent;
    padding: 8px;
    color: #ffff;
}
.edit_btn:hover{
    background: transparent;
    border: 1px solid #0090e7;

}
.edit_details{
    background: #0090e7;
    border: 1px solid transparent;
    padding: 8px;
    color: #ffff;
}
.edit_details:hover{
    background: transparent;
    border: 1px solid #0090e7;

}
.butt.copythat:hover,
.butt.copyths:hover{
    background-color: transparent;
    border: 1px solid #fd0d0d;
}
@media only screen and (max-width: 991px) {
.as-react-table{
    overflow: auto !important;
  }
  /* .as-react-table .table_filter{
    margin-top: 10px;
  } */
}